.git
.github
.terraform
**/.terraform
node_modules
docker/demo-api/node_modules
external
coverage
.nyc_output
logs
*.log
.env
.env.*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
docs
tests
infra
assets
